In [395]:
import os as os
import pandas as pd
import shutil as st
from bs4 import BeautifulSoup
import csv as csv
from pandas import ExcelWriter as xlwriter
path="C:\\Users\\user\\Downloads\\tofa"

In [214]:
os.chdir(path)

In [220]:
files=os.listdir()
files

['myfile_0.csv',
 'output.csv',
 'pankaj-Apr 2019.xls',
 'rahul-Apr 2019.xls',
 'sanjay-Apr 2019.xls',
 'shiva-Apr 2019.xls',
 'working_director_csv']

In [221]:
files_xls=[f for f in files if f[-3:] == 'xls']
files_xls

['pankaj-Apr 2019.xls',
 'rahul-Apr 2019.xls',
 'sanjay-Apr 2019.xls',
 'shiva-Apr 2019.xls']

In [397]:
month=[i[i.find("-")+1:i.find("-")+4] for i in files_xls][0]

In [219]:
names=[i[:i.find("-")] for i in files_xls]
names

['pankaj', 'rahul', 'sanjay', 'shiva']

In [269]:
columnames=["Date","Effort_Data","Tofa_Data","Swipe_In","Swipe_Out","Total"]

In [ ]:
dfcollection={}

In [361]:
averagetofadict={}

for i in names:
    for j in files_xls:
        dfcollection[i]=pd.read_html(j)
        ddff=dfcollection[i][0]
        ddff.columns.droplevel()
        ddff.columns=columnames
        dfcollection[i][0]=ddff
        
        q=dfcollection[i][0]
        tofadata=q['Tofa_Data']
        filterdf=q[q.Effort_Data>0]
        
        # find total effort data for each person not require now
        effortdatatotal=filterdf['Effort_Data'].sum()
        
        # find total average tofa data=total tofa data divide by number of days worked  for each person and append to list
        Tofa_Data_total=filterdf['Tofa_Data'].sum()
        
        totaldf=filterdf['Total']
        numberofdaysworked=totaldf.count()
        averagetofa=Tofa_Data_total/numberofdaysworked
        averagetofadict[i]=averagetofa

In [390]:
averagetofadf=pd.DataFrame.from_dict(averagetofadict,orient='index',columns=['Average_Tofa'])

#ranmae the blank index to Name
averagetofadf.index.name="Name"

        Average_Tofa
Name
pankaj        6.1625
rahul         6.1625
sanjay        6.1625
shiva         6.1625

In [401]:
#creating an excel writer with path nad file name of output file
writer=xlwriter('adad.xlsx')

In [402]:
#writing dataframe to excel
averagetofadf.to_excel(writer,sheet_name=month)

In [403]:
#saving excel file and closing the writer
writer.save()

# #Rough

In [311]:
q=dfcollection['pankaj'][0]

In [350]:
tofadata=q['Tofa_Data']
filterdf=q[q.Effort_Data>0]
effortdatatotal=filterdf['Effort_Data'].sum()
Tofa_Data_total=filterdf['Tofa_Data'].sum()
totaldf=filterdf['Total']
numberofdaysworked=totaldf.count()
totalfloatseries=totaldf.astype('float64')
totaltotal=totalfloatseries.sum()

#print effortdatatotal,Tofa_Data_total,totaltotal

162.49

In [352]:
numberofdaysworked=totaldf.count()
numberofdaysworked

20

In [305]:
ddff

,Date,Effort_Data,Tofa_Data,Swipe_In,Swipe_Out,Total
0,01-APR-2019,8.28,6.58,15:20:15,23:37:07,8.27
1,02-APR-2019,10.69,9.09,12:55:37,23:36:46,10.68
2,03-APR-2019,7.00,5.52,15:14:32,21:45:15,6.50
3,04-APR-2019,10.00,7.85,13:14:37,22:51:28,9.60
4,05-APR-2019,7.80,5.69,13:49:58,21:37:51,7.78
5,06-APR-2019,0.00,0.00,00:00:00,00:00:00,Week Off/Public Holiday
6,07-APR-2019,0.00,0.00,00:00:00,00:00:00,Week Off/Public Holiday
7,08-APR-2019,9.43,6.89,13:16:16,22:41:52,9.42
8,09-APR-2019,8.52,7.03,13:21:22,21:52:47,8.52
9,10-APR-2019,7.34,6.26,14:51:17,22:11:44,7.33
10,11-APR-2019,9.43,8.00,13:20:54,22:41:05,9.33
11,12-APR-2019,8.31,5.95,13:18:52,21:37:44,8.30
12,13-APR-2019,0.00,0.00,00:00:00,00:00:00,Week Off/Public Holiday
13,14-APR-2019,0.00,0.00,00:00:00,00:00:00,Week Off/Public Holiday
14,15-APR-2019,7.18,5.43,14:14:56,21:25:52,7.17
15,16-APR-2019,8.50,6.80,13:16:13,21:43:38,8.45
16,17-APR-2019,8.90,6.74,13:18:43,22:08:53,8.83
17,18-APR-2019,7.90,6.35,14:25:57,22:17:43,7.85
18,19-APR-2019,7.01,4.70,13:20:50,20:21:19,7.00
19,20-APR-2019,0.00,0.00,00:00:00,00:00:00,Week Off/Public Holiday
20,21-APR-2019,0.00,0.00,00:00:00,00:00:00,Week Off/Public Holiday
21,22-APR-2019,0.00,0.00,00:00:00,00:00:00,Full day Leave
22,23-APR-2019,0.00,0.00,00:00:00,00:00:00,Full day Leave
23,24-APR-2019,7.50,3.30,13:00:00,19:51:46,6.85
24,25-APR-2019,8.68,6.33,13:06:24,21:47:02,8.67
25,26-APR-2019,7.54,6.01,13:11:34,20:44:04,7.53
26,27-APR-2019,0.00,0.00,00:00:00,00:00:00,Week Off/Public Holiday
27,28-APR-2019,0.00,0.00,00:00:00,00:00:00,Week Off/Public Holiday
28,29-APR-2019,6.48,4.44,13:32:52,20:01:34,6.47
29,30-APR-2019,6.00,4.29,14:27:38,20:08:52,5.68